<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1 style="color: aqua; text-align: center; font-size: 200%">
      이곳은 제목 가운데 정렬
    </h1>
    <p>이곳에 <b>홈</b>이 올 예정</p>
    <p>
      <em>sdfsdf</em> <i>kkkk</i><mark>highrighting</mark><del>deldeldel</del
      ><ins>zzzz</ins>
    </p>
    <hr />

    <p><q>이것이 인용구이다.</q> 그리고 <q>sdfsdf </q>sdf</p>
    <pre>줄 바꿈에 자유로운
        <abbr title="사실 뭐가 중요한지 모르겠따!"><strong><a href="./login.html" target="_blank">중요!</a></strong></abbr>
        편
        &lt;p&gt; &lt; &#60;
    </pre>
    <iframe src="./upload" style="border: none"></iframe>
  </body>
</html>
